h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 70px;
  font-family: monospace;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

#displayGame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.letters {
  display: flex;
  padding: 15px;
  text-align: center;
  width: auto;
  height: 55px;
  color: #fff;
  font-size: 100pt;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  line-height: 55px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 30%;
}

button {
  font-size: 30pt;
}

p {
  font-size: 40pt;
}

#result {
  font-size: 40pt;
  padding: 10px;
  background: white;
}
