.background {
  background-color: linen;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 90px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 50px;
  color: blueviolet;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

#displayGame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.letters {
  display: flex;
  padding: 15px;
  text-align: center;
  width: auto;
  height: 55px;
  font-size: 100pt;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  line-height: 55px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.letters > button {
  background-color: thistle;
  margin-top: 5px;
}

button {
  font-size: 20pt;
}

p {
  font-size: 40pt;
}

#result {
  display: flex;
  font-size: 40pt;
  padding: 10px;
}

#startButton {
  background-color: red;
  color: white;
  padding: 10px;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

#livesRemaining {
  display: flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}
